.home-page{
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: row;

    justify-content: start;
    align-items: center;

    background-color: black;

    flex-grow: 1;
}

.side-bar{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    text-align: center;

    height: 100vh;
    width: 175px;

    background-color: grey;

    position: absolute;
}

.side-bar >*{
    margin: 20px 10px;
}
